/* LINK PARA BOX-SHADOW: https://getcssscan.com/css-box-shadow-examples */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --branco: #fff;
    --fundo-rosa-escuro: #c44569;
    --preto-acizentado: #1c1c1c;
}

body {
    background: #ffffff;
    font-family: "Roboto", sans-serif;
}

/* ROXOS: #9b59b6 - ametist | #8e44ad -  */
/* ROSA: #b33771 | #c44569*/
/* Preto #2c3a47 */
.container {
    background: #171616;
    margin: 20px auto;
    position: relative;
    border-radius: 20px;
    padding: 64px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 30%;
    min-width: 400px;
    display: flex;
    flex-direction: row;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -40px;
    margin-right: 100px; /* Adjust the value as per your preference */
}


.perfil-foto {
    border-radius: 100%;
    max-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.titulo {
    margin-top: 5px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
    margin: 3px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 3px;
}

.tema button {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 400;
    background: var(--rosa);
    color: white;
    border-radius: 5px;
    border: 1px solid #b33771;
}

.projetos {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur();
    background: 000000(255, 255, 255, 0.4);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

    min-width: 300px;
}

.projetos-titulo {
    list-style: none;
    font-weight: 700;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    position: sticky;
    top: 0;
    background-color: #171616; /* Add a background color for the sticky effect */
    z-index: 1;
}


.projetos-item a {
    text-decoration: none;
    color: black;
}

.projetos-item {
    list-style-type: none;

    line-height: 36px;
    margin-left: 10px;

    font-weight: 400;
    font-size: 18px;

    padding: 5px;
    box-sizing: border-box;
    display: block;
}

.dark .container {
    background: #000000;
    color: #f6f6f6;
}

.insignias {
    backdrop-filter: blur();
    background: rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.insignias p {
    font-size: 25px;
}

.redes-sociais {
    backdrop-filter: blur();
    background: rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.redes-sociais a img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

summary {
    cursor: pointer;
}

li :hover {
    cursor: pointer;
    color: var(--preto-acizentado);
    background-color: #b33771;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
}

.redes-sociais a:hover {
    transform: scale(1.5);
}

.form_acc {
    height: 625px;
    width: 400px;
    background-color: rgb(0, 0, 0);
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 20%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin-top: 20px;
}

.button_update {
    margin-top: 30px;
    width: 100%;
    background-color: #444040;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(247, 241, 241, 0.774);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.bt_logout{
    margin-top: 30px;
    width: 50%;
    background-color: #444040;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.admin_bt_tema {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.admin_perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.admin_titulo {
    text-align: center;
    margin-top: 50px;
}

.admin_form {
    top: 50%;
    left: 20%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.admin_projetos {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur();
    background: 000000(255, 255, 255, 0.4);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    margin: 10px;
    min-width: 670px;
}

.table {
    width: 100%;
    display: block;
    overflow-x: auto;
}
