body {
    background-color: #f2f2f2;
}

.dark-mode {
    background-color: #111;
    color: #fff;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .container {
    background-color: #222;
    color: #fff;
    box-shadow: none;
}